# Ignore everything
*

# But not these directories
!./bin
!./config
# ./data needs to be mounted - not built into the image
!./notebooks
!./sql
!./src/{{ cookiecutter.project_snake }}
!./Pipfile
!./setup.py