[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
loguru = "*"
dynaconf = "*"
new-py-proj = {editable = true, path = "."}

[dev-packages]
black = "*"
pytest = "*"

[requires]
python_version = "{{ cookiecutter.python_version }}"
